@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #f4f4f4;
}

/* navbar */
.active{
    color: #800037 !important;
    text-decoration: underline;
}
.navbar{
    background-color: #F9F3ED !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-link{
    color: #333;
}
.nav-link:hover{
    color: #800037 !important;
}
.search-bar{
    width: 150% !important;
}

.logo>a{
    color: #800037;
    text-decoration: none;
}

.profile-border{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d4;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.profile-border i{
    font-size: 1.5rem;
}

.form-control:active{
    outline: none !important;
    border: none !important;
}

/* ini untuk dashboard */




/* ini untuk detail makanan */




/* --- FOOTER --- */
.main-footer {
  background-color: #F9F3ED; /* Cream #F9F3ED */
  padding: 40px 20px;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-title {
  color: #800037;
  font-size: 1.2em;
  margin-top: 0;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 5px;
}

.social-links a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #800037;
}