@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #f4f4f4;
  min-height: 100%;
}

main{
  min-height: calc(50vh);
}

p, span{
    font-family: "Montserrat", sans-serif;
    color: #696969 !important;
    font-weight: 400 !important;
}

h1, h2, h3, h4, h5{
    color: #696969;
}

.btn-primary{
    background-color: #800037 !important;
    color: #fff;
    border: none;
}
.menu-section-desktop{
  display: flex;
}

/* navbar */
.btn-search{
  padding: 0 10px;
}
.active {
  color: #800037 !important;
  text-decoration: underline;
}
.navbar {
  background-color: #f9f3ed !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.nav-link {
  font-weight: 400;
}
.nav-link:hover {
  color: #800037 !important;
}
.search-bar {
  width: 100% !important;
}

.logo > a {
  color: #800037;
  text-decoration: none;
}

.profile-border {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
}
.profile-border i {
  font-size: 1.5rem;
}
input:focus{
    border: 0.1px solid #800037 !important;
    outline: #800037 !important;
    box-shadow: 0 0.2px 2.5px 0.2px #800037!important;
}

.form-control:active {
  outline: none !important;
  border: none !important;
}
.logo{
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}

.btn-hamburger-menu{
  display: none;
  margin-right: -10px;
  padding: 5px 10px;
}
.btn-hamburger-menu > i{
  font-size: 1.3rem;
}
.dropdown-navbar{
  width: 100%;
  height: 220px;
  background-color: #f9f3ed;
  box-shadow: 0px 10px 7px -10px #9999;
  border-bottom: 0.5px solid #9999;
  position: absolute;
  display: none;
  transform: translateY(-200px);
}
.showing-dropdown-navbar{
  animation: show-navbar-dropdown 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hide-dropdown-navbar{
  opacity: 0;
}

.hiding-dropdown-navbar{
  animation: hide-navbar-dropdown 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes show-navbar-dropdown {
   0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(-5px);
    opacity: 100;
  }
}

@keyframes hide-navbar-dropdown {
   0% {
    transform: translateY(-5px);
    opacity: 100;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.navbar-dropdown-active{
  box-shadow: none !important;
}
.navbar-dropdown-item>ul>.nav-item:hover{
  background-color: #800037;
  color: #fff !important;
  border-radius: 10px;
  padding: 0 10px;
}

.navbar-dropdown-item>ul>.nav-item>a:hover{
  color: #fff !important;
  text-decoration: none !important;
}

.dropdown-profile{
  background-color: #FFFF;
  width: 12rem;
  position: absolute;
  right: 15px;
  top: 50px;
  border-radius: 10px;
  border: 0.1px solid #bababa;
  box-shadow: 6px 8px 10px -4px #a0a0a0;
  padding: 0;
}
.hide-dropdown-profile-container{
  opacity: 0;
  transform: translateY(100px);
  z-index: 0;
}
.hiding-dropdown-profile-container{
  animation: slideDown 0.1s ease-in;
  z-index: 1200;
}
.show-dropdown-profile-container{
  animation: slideUp 0.1s ease-in;
  z-index: 1200;
}
@keyframes slideDown {
  from{
    transform: translateY(0);
    opacity: 100;
  }to{
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes slideUp {
   0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}


.list-item{
  padding: 0;
  margin-bottom: 0 !important;
}

.list-item>li{
  list-style: none;
}

.profile-dropdown-link{
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: #696969;
}
.profile-dropdown-link>i{
  font-size: 1.6rem;
  margin-right: 10px;
}
.profile-dropdown-link:hover{
  background-color: #800037;
  color: #ffff !important;
}

/* ini untuk dashboard (inna)*/
/* header */
.carousel-item img {
  filter: brightness(50%);
}
#carouselExampleAutoplaying {
  height: 565px; /* sesuaikan tinggi dashboard */
  overflow: hidden;
}
#carouselExampleAutoplaying .carousel-item img {
  height: 565px;
  object-fit: cover;
  width: 100%;
}
.custom-caption {
  bottom: 30%;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.custom-caption h2 {
  font-size: 3rem;
  font-weight: 700;
}
.custom-caption p {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.custom-caption h2, /* Animasi */
  .custom-caption p {
  animation: fadeInUp 1s ease-in-out;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.carousel-control-prev-icon, /* icon prev next */
.carousel-control-next-icon {
  filter: invert(100%);
}

/* Profil (inna) */
.profile-card {
  max-width: 500px;
  height: 500px;
  background: white;
  border-radius: 20px;
  font-size: 14px;
}
/* .form-control {
  width: 400px;
  height: 35px;
} */
.profile-wrapper {
  position: relative;
}
.profile-photo {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #800037;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.edit-btn {
  /*icon pensil */
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 36px;
  height: 36px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 2px solid #ddd;
}
.profile-wrapper:hover .edit-btn {
  display: flex;
}
/* cancel save */
.profile-card .btn {
  font-size: 0.85rem;
  padding: 5px 15px;
  border-radius: 6px;
}
/* cancel */
.profile-card .btn-outline-secondary {
  border-color: #e9609b;
  color: #800037;
}
.profile-card .btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
}
/* Tombol Save */
.profile-card .btn-success {
  background-color: #800037;
  border-color: #e9609b;
}
.profile-card .btn-success:hover {
  background-color: #e9609b;
  border-color: #800037;
  color: #000000;
}

/* ini untuk detail makanan */
.img-thumbnail{
    height: 50vh;
}
.img-cooking-illustration{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.comment-section{
    width: 100%;
    display: flex;
    position: relative;
}

.btn-comment{
    height: 40px;
    position: absolute;
    right: -2px;
    bottom: 0;
}
.rating-label{
    font-size: clamp(3rem, 5vw, 5em);
    color: #696969;
}
.rating-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.rating-bar >.progress{
    width: 90% !important;
}
.list-group-item{
    color: #696969;
    font-weight: 400 !important;
    font-family: "Montserrat", sans-serif;
}
.header-comment-section{
    margin-bottom: 5rem;
}
.body-comment-section{
    max-height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 20px;
}
.profile-comment{
    min-width: 40px !important;
}
p.username{
    font-family: 'Roboto', sans-serif;
}
.detail-comment-body{
    margin-top: -20px !important;
}
.detail-comment-body>p{
    margin-bottom: -5px;
}
.detail-comment-body>.comment{
    margin-top: 10px;
    font-size: 0.9rem;
}
textarea:focus{
    border: 0.1px solid #800037 !important;
    outline: #800037 !important;
    box-shadow: 0 0.2px 2.5px 0.2px #800037!important;
}
.footer-comment{
    display: flex;
    align-items: center;
}
.header-section-responsive{
  display: none;
  flex-direction: column;
  text-align: center;
}
.food-label{
  width: 40% !important;
  /* min-width: 70% !important; */
  height: 30px;
  padding: 2px 20px;
  border-radius: 10px;
  background-color: #800037;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  justify-content: start;
  margin-right: 5px;
}

.food-label>i{
  color: #fff !important;
}
.food-label>p{
  margin-left: 10px;
  color: #fff !important;
}

.comment-profile-img{
  max-width: 40px;
  max-height: 40px;
  border-radius: 25px;
  margin-left: 20px;
}

/* --- FOOTER --- */
.main-footer {
  background-color: #f9f3ed !important;
  padding: 40px 20px;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 100px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-title {
  color: #800037;
  font-size: 1.5em;
  margin-top: 0;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-link-item {
  margin: 5px 10px 0 0;
  background-color: #800037;
  width:40px;
  height:40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link-item>a{
  color: #fff !important;
  font-size: 1.5rem !important;
  text-decoration: none;
}

.social-links a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #800037;
}


@media screen and (max-width: 1400px) {
    .menu-list{
        display: none !important;
    }
    .search-bar{
        width: 150% !important;
    }
    .form-input-search{
        /* margin-left: -16rem; */
        width: 250px!important;
    }
}

@media screen and (max-width: 1200px) {
    .nav-link{
      font-size: 0.8rem;
    }
}


@media screen and (max-width: 988px) {
  .btn-hamburger-menu{
    display: block;
  }
  .dropdown-navbar{
    display: block;
  }
}

@media screen and (max-width: 768px) {
    .search-bar{
        width: 100% !important;
    }
    .form-input-search{
        display: none;
    }
    .food-title{
      display: none;
    }
    .header-section-responsive{
      display: flex;
    }
    .food-label{
      width: 50%;
    }
    .img-cooking-illustration{
      display: none;
    }
}

@media screen and (max-width: 568px) {
  footer{
    text-align: center;
  }
  .social-link-item{
    width: 30px;
    height: 30px;
  }

  .social-link-item>a{
    font-size: 1rem !important;
  }

  .copyright-title{
    text-align: center;
    margin-top: 10px;
  }
  .social-links{
    justify-content: center;
  }
}